
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader_bgs{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after{
    content: '';
    border: 1em solid #284B63;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before{
    animation-delay: .5s;
}

@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}


.container-boton{
    position: fixed;
    z-index: 199;
    bottom: 270px;
    right: 10px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 40px;
    transition: ease 1s;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sec{
    position: relative;
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
.logo{
    width: 10%;
    height: 15%;
}

header{
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(249, 250, 250);
}
header .logo{
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
}
header .navigation li a{
    color: #3C4F76;
    margin-left: 40px;
    text-decoration: none;
    font-weight: bold;
}
.content{
    position: relative;
    max-width: 500px;
}
.content h5{
    color: #3C4F76;
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
}
.content p{
    color: #707070;
    margin: 10px 0 20px;
}
.content a{
    padding: 10px 30px;
    background: #3C4F76;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 25px;
    border-color: #3C4F76;
}
.analitic{
    position: absolute;
    bottom: 5;
    height: 50%;
    right: 100px;
    list-style: none;
}

.img1{
    width: 40%;
    height: 40%;
}

#vermas{
    text-decoration: none;
    color: #3C6E71;
    font-weight: bold;
}

@media (max-width: 1170px)
{
    header{
        padding: 20px 40px;
    }
    header ul.navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header navigation.active{
        display: flex;
    }
    header .navigation li a{
        color: #3C4F76;
        margin-left: 0;
        text-decoration: none;
        font-size: 30px;
    }
    .sec{
        justify-content: center;
        padding: 40px 40px 0;
        flex-direction: column;
    }
    .content{
        max-width: 100%;
        margin-top: 70px;
    }
    .content h5{
        font-size: 3em;
    }
    .analitic{
        position: relative;
        bottom: 10px;
        height: initial;
        right: initial;
        width: 60%;
        margin-top: 20px;
    }
    .logo{
        width: 10%;
        height: 15%;
    }
    header .logo{
        margin-left: 40%;
    }
}

@media (max-width: 1269px)
{
    header .navigation li a{
        color: #3C4F76;
        margin-left: 30px;
        text-decoration: none;
    }
}

@media (max-width: 1060px)
{
    header .navigation li a{
        color: #3C4F76;
        margin-left: 20px;
        text-decoration: none;
    }
}

@media (max-width: 880px)
{
    .logo{
        width: 20%;
        height: 25%;
    }
}




@media (max-width: 768px)
{
    .how-section1 .how-img img{
        margin-top: 5%;
    }
}


#ofrecer{
    color: #3C4F76;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

#offrecer{
    color: #3C4F76;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: -70px;
    text-align: center;
}


.box-part span{
    font-size:15px;
}

.boxx{
    padding:50px 0px;
    background-color: #FFF;
    margin-bottom: 100px;
}

.box-part{
    background:#FFF;
    border-radius: 0;
    padding:40px 10px;
    margin:30px 0px;
}

#h4efect{
    margin-top: 40px;
}

.box-part h4{
    font-size: 18px;
    color: #3C4F76;
    font-weight: bold;
    
}

.th4{
    font-weight: bold;
}



.box-part .text{
    margin:18px 0px;
    color: #192B42;
}

.box-part .fas{
     color:#192B42;
}


#inicios{
    margin-top: -500px;
    
}

.how-section1{
    margin-top:-10%;
    padding: 10%;
}
.how-section1 h4{
    color: #3C4F76;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #192B42;
    font-size: 20px;
}
.how-section1 .subheadingg{
    color: #3C6E71;
    font-size: 20px;
    font-weight: bold;
}
.how-section1 .row
{
    margin-top: -5%;
}
.how section1 .row h4{
    margin-left: 0px;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    margin-top: -80px;
    width: 70%;
}

@media (max-width: 1125px)
{
    .how-img img{
        margin-top: 0px;
    }
}

#oramos{
    margin-bottom: 120px;
    color: #3C4F76;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

#skgmarket{
    margin-bottom: 120px;
    color: #3C4F76;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

#titleinfo{
    margin-top: -150px;
    color: #3C4F76;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    display: block;
}

.how-section1 .th4o{
    font-weight: bold;
    color: #707070;
}

.how-section1 .subheadingt{
    color: #707070;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.how-section1 .subheadingl{
    color: #707070;
    font-size: 20px;
}




#vermasl{
    text-decoration: none;
    color: #3C6E71;
    font-weight: bold;
}

#vermasl:hover{
    color: #2e5456;
}
.logos{
    align-items: center;
    width: 15%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
}

.web{
    align-items: center;
    width: 30%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    margin-bottom: 120px;
}

.ora{
    padding: 10px 30px;
    background: #3C4F76;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 25px;
    border-color: #3C4F76;
}

.ora:hover{
    color: #97bbeb;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-left: -34px;
}
.socials li{
    margin: 0 20px;
    background-color: #3C4F76;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.socials a{
    text-decoration: none;
    color: #fff;
    align-items: center;
    text-align: center;
}
.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;
    margin-top: 5px;
}
.socials a:hover i{
    color: #97bbeb;
}

.container-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.copyright{
    margin-left: 32px;
    color: #3C4F76;
    font-weight: bold;
}

.information{
    margin-right: 32px;
    color: #3C4F76;
}



.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 35px;
    display:none;
}

#back-to-top{
    background-color: #434750;
    border-color: #3C4F76;
}




.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
  
  }
  
  .contact-form .form-field {
    position: relative;
    margin: 32px 0;
  }
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #3C4F76;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .contact-form .input-text:focus {
    outline: none;
  }
  .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  .contact-form .label {
    position: absolute;
    left: 13px;
    bottom: 30px;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #3C4F76;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: #3C4F76;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
    margin-left: 36%;
    border-radius: 25px;
  }

  .submit-btn:hover{
      color: #7f8ba2;
  }



  @media (max-width: 580px)
{
    .img1{
        width: 20%;
    }
}

@media (max-width: 920px)
{
    .web{
        width: 35%;
        height: 40%;
    }
}

@media (max-width: 620px)
{
    .web{
        width: 40%;
        height: 45%;
    }
}

